[submodule "silo"]
	path = silo
	url = https://ajaustin@bitbucket.org/ajaustin/silo.git
[submodule "gapbs"]
	path = gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "graph500"]
	path = graph500
	url = https://github.com/graph500/graph500.git
[submodule "XSBench"]
	path = XSBench
	url = https://github.com/ANL-CESAR/XSBench.git
[submodule "vmitosis-workloads"]
	path = vmitosis-workloads
	url = https://github.com/mitosis-project/vmitosis-workloads.git
[submodule "masim"]
	path = masim
	url = https://github.com/sjp38/masim.git
[submodule "redis"]
	path = redis
	url = https://github.com/redis/redis.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/memcached/memcached.git
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "YCSB"]
	path = YCSB
	url = https://github.com/brianfrankcooper/YCSB.git
